openapi: 3.1.0
info:
  title: CMiC Construction ERP Cost Tracking Equipment API
  description: CMiC provides enterprise ERP and project management software for the construction industry. The REST API uses OAuth 2.0 (client credentials flow) with support for third-party identity providers like Microsoft Azure. APIs enable access to project financials, subcontractor management, job costing, equipment tracking, and document management. Application-level security is enforced across all endpoints respecting company, job, project, and employee access rules.
  version: 1.0.0
  contact:
    name: CMiC Developer Support
    url: https://developers.cmicglobal.com/
  license:
    name: CMiC Privacy Policy
    url: https://cmicglobal.com/privacy-policy
servers:
- url: https://api.cmic.ca/rest
  description: CMiC REST API
security:
- oauth2: []
tags:
- name: Equipment
  description: Equipment tracking and usage
paths:
  /eq-rest-api/v1/EQequipment:
    get:
      operationId: listEquipment
      summary: List equipment
      description: Returns all equipment records tracked in the CMiC system.
      tags:
      - Equipment
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - MAINTENANCE
          - RETIRED
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: List of equipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentList'
components:
  schemas:
    EquipmentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Equipment'
        total:
          type: integer
    Equipment:
      type: object
      properties:
        equipmentId:
          type: string
        description:
          type: string
        equipmentType:
          type: string
        status:
          type: string
        year:
          type: integer
        make:
          type: string
        model:
          type: string
        assignedJobId:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials for CMiC API access
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            api://cmic/.default: Full CMiC API access
